terraform-provider-opslevel
examples/.terraform
*.tfstate
examples/terraform.tfstate.backup

*.dll
*.exe
.DS_Store
go.work*
/coverage.out
/coverage.txt
example.tf
terraform.tfplan
terraform.tfstate
bin/
dist/
modules-dev/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml

website/vendor

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Keep windows files with windows line endings
*.winfile eol=crlf
examples/.terraform.lock.hcl
.terraform.lock.hcl
./workspace/main.tf
tests/**/backend.tf
workspace/*.tf*
workspace/.terraform.d/
workspace/tophatting.md
