---
page_title: "Provider: OpsLevel"
subcategory: ""
description: |-
  The OpsLevel provider provides lifecycle management of data in your OpsLevel account.
---

# OpsLevel Provider

The OpsLevel provider provides lifecycle management of data in your OpsLevel account.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
