name: Changie Gen

on:
  pull_request:
    # catch when the PR is opened with the label or when the label is added
    types: [labeled]

permissions:
  contents: write
  pull-requests: read

jobs:
  generate-changelog:
    if: contains(github.event.pull_request.labels.*.name, 'dependencies')
    runs-on: ubuntu-latest
    steps:
    - name: Checkout branch that Dependabot labeled
      uses: actions/checkout@v6
      with:
        ref: ${{ github.event.pull_request.head.ref }}
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Check if changelog file exists already
      shell: bash
      id: changelog_check
      run: |
        if [[ -n $(git diff --name-only main -- .changes/unreleased/*.yaml) ]]; then
          echo "exists=true" >> $GITHUB_OUTPUT
          echo "Changelog already exists for this PR, skip creating a new one"
        else
          echo "exists=false" >> $GITHUB_OUTPUT
          echo "No changelog exists for this PR, creating a new one"
        fi

    - name: Create changie log
      if: steps.changelog_check.outputs.exists == 'false'
      uses: miniscruff/changie-action@v2
      with:
        version: latest
        args: new --kind Dependency --body "${{ github.event.pull_request.title }}"

    - name: Commit & Push changes
      if: steps.changelog_check.outputs.exists == 'false'
      shell: bash
      run: |
        git config user.name "OpsLevel Bots"
        git config user.email "bots@opslevel.com"
        git pull
        git add .
        git commit -m "Add automated changelog yaml from template"
        git push
