name: "Release"

on:
  workflow_dispatch: {}
  repository_dispatch:
    types:
      - release

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    environment: "Production"
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: 'true'
          token: ${{ secrets.ORG_GITHUB_TOKEN }}
      - name: Fetch All Tags
        run: git fetch --force --tags
      - name: Get version bump
        id: bump
        env:
          VERSION_BUMP: ${{ toJson(github.event.client_payload.bump) }}
        run: |
          echo version_bump=$(echo $VERSION_BUMP | tr -d "\"") >> $GITHUB_OUTPUT
      - name: Determine Next Version
        id: next_version
        uses: zwaldowski/semver-release-action@v4
        with:
          dry_run: true
          bump: ${{ steps.bump.outputs.version_bump }}
          prefix: "v"
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Ensure Changelog
        run: |
          if test -f ./.changes/${{ steps.next_version.outputs.version_tag }}.md
          then
            echo "Skip Changie..."
          else
            go install github.com/miniscruff/changie@v1.23.0
            changie batch ${{ steps.next_version.outputs.version_tag }}
            changie merge
          fi
      - name: Generate Terraform Docs
        run: task docs
      - name: Commit & Tag Release
        run: |
          git config user.name "OpsLevel Bots"
          git config user.email "bots@opslevel.com"
          if [[ $(git diff --stat) != '' ]];
          then
            git add .
            git commit -m "Cut Release '${{ steps.next_version.outputs.version_tag }}'"
            git push origin HEAD
          else
            echo "Skip commit"
          fi
          git tag -f ${{ steps.next_version.outputs.version_tag }} -m "Cut Release '${{ steps.next_version.outputs.version_tag }}'"
          git push -f origin refs/tags/${{ steps.next_version.outputs.version_tag }}
      - name: Ensure Release Does Not Exist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release delete ${{ steps.next_version.outputs.version_tag }} || true
      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6.1.0
        with:
          args: release --clean --release-notes=./.changes/${{ steps.next_version.outputs.version_tag }}.md
        env:
          GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
